# Forked spacemacs to allow version control of certain hidden data etc
auto-save-list/
elpa/
export/
ac-comphist.dat
eproject.lst
.smex-items
\#*
.places
# This is where layouts are kept, so have to hide each folder in cache individually
# .cache
.cache/auto-save
.cache/rollback
.cache/quelpa
.cache/request
.cache/transient
.cache/url
.cache/savehist
.cache/spacemacs-buffer.el
/eww-bookmarks
eshell/history
.emacs.desktop
.emacs.desktop.lock
eshell/alias
eshell/lastdir
/url/cookies
my-org/
org-files/
semanticdb/
edts/
.recentf
.recentf~
projectile.cache
projectile-bookmarks.eld
tramp
elnode/
var/
crown/
*.stackdump
bookmarks
/.my-keybindings.el.swp
.DS_Store
tmp/
/history
.python-environments/
server/
/network-security.data
*.elc
*.pyc
/*.zip
*.db
python-*-docs-html
/.cask/
/session.*
/srecode-map.el
/recentf
.mc-lists.el
transient/
# Want to version private directory
# Private directory
# private/
# !private/README.md
# !private/snippets/README.md
# !private/local/README.md
/games/
